<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BMSTU Student Portal</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <% include navbar %>

        <div class="content-wrapper">
            <div class="container-fluid">
                <!--  <h2> Main things </h2>-->
                <div class="row pr-2">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-0">
                                    <img class="card-img-top" src="/public/images/university.jpg" alt="Card image cap">

                                    <div class="card-body p-2">

                                        <a href="/structure/<%=lang%>"><h5 class="card-title">University structure</h5></a>
                                        <p class="card-text">Faculties, chairs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card  border-0">
                                    <img class="card-img-top" src="/public/images/location.png" alt="Card image cap">

                                    <div class="card-body p-2">

                                        <a href="/location/<%=lang%>"> <h5 class="card-title">Building maps</h5></a>
                                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" p-1 mt-5" id="news">
                            <h1 class="ml-3 gray">News</h1>

                        </div>
                        <div class="row border-top mt-4 ml-3 mr-3">
                            </br>
                        </div>
                        <div class="row p-3" id="news">
                            <div class="col-sm-4 f-13">
                                <h5> Main building</h5>
                                <div> ul. Baumanskaya 2-ya, 5/1, Moscow</div>
                                <div>Postcode: 105005</div>

                                <div>Tel. 8 (499) 263-6391</div>
                                <div>Fax (499) 267-4844</div>
                                <div>E-mail bauman@bmstu.ru</div>
         
                            </div>
                            <div class="col-sm-4 f-13">
                                <h5>FMOP</h5>
                                <div>Tel. 8 (499) 267 00 82</div>
                                <div class="row ">
                                        <div class="col">
                                           <h6><a href="https://vk.com/public140853361"> <i class="fa fa-vk" style="color:#4c75a3"></i></a> 
                                            <a href="https://www.facebook.com/groups/1430811973892911/" class="ml-2"> <i class="fa fa-facebook-f" style="color:#3B5998"></i></a></h6>
                                        </div>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-2 border-left">
                       <h5 class="text-center mr-3" style="color:#555">Contact</h5>
                       t is a long established fact that a reader will be distracted by the readable 
                       content of a page when looking at its layout. The point of using Lorem Ipsum
                       is that it has a more-or-less normal distribution of letters, as opposed
                        to using 'Content here, content here', making it look like readable English.
                       <h5 class="text-center mr-3" style="color:#555">FAQ</h5>
                      
                          Many desktop publishing packages and web page editors now use 
                       Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
                       will uncover many web sites still in their infancy. Various versions have 
                       evolved over the years, sometimes by accident, sometimes on purpose 
                       (injected humour and the like).
                    </div> -->
                </div>
            </div>
        </div>
        <script src="/vendor/jquery/jquery.min.js"></script>

        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin.min.js"></script>
        <script>
            $(() => {

                $.get('/api/news?limit=6', (response) => {
                    console.log(response)

                    if (response.statusCode == 200) {
                        renderNews(response.response)
                    } else {
                        alert("Something went wrong!")

                    }
                })
            })

            function renderNews(news_list) {
                item_per_row = 3;
                elements = ``
                index = 0
                row = parseInt(news_list.length % item_per_row == 0 ? news_list.length / item_per_row : news_list.length /
                    item_per_row + 1)
                console.log(row)
                for (var i = 0; i < row; i++) {
                    if (i > 0) elements += "<div class='row mt-3'>"
                    else elements += "<div class='row'>"
                    for (var j = 0; j < item_per_row; j++) {
                        t = ""
                        $.each(news_list[index].tags, (i, tag) => {
                            t +=
                                `<a href="/api/news?tags=${tag}" class="btn btn-outline-primary pb-0 pt-0 mr-1">${tag}</a>`
                        })
                        elements +=
                            `<div class='col-sm-4'>
                                <div class="card border-0">
                                    <div class="card-body">
                                   <a class="dark-gray" href="/news/${news_list[index]._id}"><h5 class="card-title">${news_list[index].title} </h5></a>
 
                                    <a class="dark-gray" href="/news/${news_list[index]._id}"><p class="card-text">${news_list[index].body.substring(0, 100)}...</p></a>
                                    
                                    <div class="mt-1">${t}</div>
                                    </div>
                                </div>
                            </div>`
                        if (index == news_list.length - 1) {
                            break;
                        }
                        index++;

                    }
                    elements += "</div>"
                }
                $("#news").append(elements)
            }
        </script>
</body>

</html>