<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BMSTU Student Portal</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="css/register.css" rel="stylesheet">

</head>

<body class="bg-dark">
  <div class="container">
    <div class="loader d-none"></div>

    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form id="formRegister">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" name="firstname" placeholder="Enter first name">
                <small id="valfirstname" class="d-none">Required</small>
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" name="lastname" placeholder="Enter last name">
                <small id="vallastname" class="d-none">Required</small>

              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            <small id="valemail" class="d-none">Required</small>
          </div>
          <div class="form-group">
            <div class="form-row">
              <label for="exampleInputPassword1">Password</label>
              <input class="form-control" id="password" type="password" placeholder="Password" name="password">
              <small id="valpassword" class="d-none">Required</small>
            </div>
          </div>

          <a class="btn btn-primary btn-block" href="#" id="btnRegister">Register</a>
        </form>

        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Login Page</a>
          <a class="d-block small" href="/forgot-password">Forgot Password?</a>
        </div>
      </div>
      <div id='response' class="d-none"></div>

    </div>

  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script>
    $(() => {
      $("#btnRegister").click(() => {
        if (validate())
          sendData()
      })
    })

    function sendData() {
      $('#response').addClass('d-none').removeClass('d-block')
      $('.loader').removeClass('d-none')

      formData = $("#formRegister").serializeArray()
      payload = {}
      $.each(formData, (i, item) => {
        payload[item['name']] = item['value']
      })
      $.post('/register', payload)
        .done((r) => {
          showResponse(r)
        }).fail((r) => {
          console.log(r)
        }).always(() => {
          $('.loader').addClass('d-none')
        })
    }

    function showResponse(response) {
      if (response.statusCode == 201) {
        $('#response').html(
          `<div class="alert alert-success" role="alert">
                Successfully registered! Please <a href="/login">login</a>.
                </div>`
        )
      } else if (response.statusCode == 409) {
        $('#response').html(
          `<div class="alert alert-danger" role="alert">
                Email is already registered!
                </div>`
        )
      } else {
        $('#response').html(
          `<div class="alert alert-danger" role="alert">
          Something went wrong, try again!
                </div>`
        )
      }
      $('#response').addClass('d-block')
    }

    function validate() {
      var formData = $("#formRegister").serializeArray()
      var isValid = true
      $.each(formData, (i, item) => {
        if (item.value == "") {
          isValid = false
          $("#val" + item.name).val('Required!').removeClass("d-none")
        } else {
          if (item.name == "email" ) {
            if(validateEmail(item.value)){
              $("#val" + item.name).addClass("d-none")
            }else{
              $("#val" + item.name).html('Enter valid email!').removeClass("d-none")
              isValid = false
            }
          }else
            $("#val" + item.name).addClass("d-none")
        }
      })
      return isValid
    }
    function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
  </script>
</body>

</html>