<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= __('BMSTU_STUDENT_PORTAL')%>
    </title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/friend.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
    <% include navbar %>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="http://1.bp.blogspot.com/-hccUkxWxi9s/UxpyA7ajhII/AAAAAAAABBo/WauETH2YBEM/s1600/viaje.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <a href="#" class="white">
                                        <h2 class="card-title white">Pre-arrival tips</h2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="https://www.askideas.com/media/43/Beautiful-Image-Of-Kremlin-Palace.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <a href="#" class="white">
                                        <h2 class="card-title white">After arrival tips</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="http://bmstu.ru/b-twig/assets/img/carousel/slobodskoy-frontward.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <a href="#" class="white">
                                        <h2 class="card-title white">General tips</h2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="https://c.tribune.com.pk/2011/05/US-Visa11-167924-640x480.jpg" alt="Card image cap">
                            <div class="card-body p-2 card-body-semi ">
                                <div>
                                    <a href="#" class="white">
                                        <h2 class="card-title white">Visa &amp; Registration</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-top mt-4 ml-1 mr-3">
                    </br>
                </div>
                <div class="row p-1" id="news">
                        <div class="col-sm-4 f-13">
                            <h5> Main building</h5>
                            <div> ul. Baumanskaya 2-ya, 5/1, Moscow</div>
                            <div>Postcode: 105005</div>

                            <div>Tel. 8 (499) 263-6391</div>
                            <div>Fax (499) 267-4844</div>
                            <div>E-mail bauman@bmstu.ru</div>
     
                        </div>
                        <div class="col-sm-4 f-13">
                            <h5>FMOP</h5>
                            <div>Tel. 8 (499) 267 00 82</div>
                            <div class="row ">
                                    <div class="col">
                                       <h6><a href="https://vk.com/public140853361"> <i class="fa fa-vk" style="color:#4c75a3"></i></a> 
                                        <a href="https://www.facebook.com/groups/1430811973892911/" class="ml-2"> <i class="fa fa-facebook-f" style="color:#3B5998"></i></a></h6>
                                    </div>
                                    
                                </div>
                        </div>
                    </div>
            </div>

        </div>
        </div>
        </div>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/sb-admin.min.js"></script>
        <script src="/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="/js/script.js"></script>

</body>


</html>